* {
	padding: 0;
	margin: 0;
	font-size: 100%;
	outline: none;
	font-weight: 300;
	box-sizing: border-box;
}

body {
	background-color: rosybrown;
	display: flex;
}

.container {
	display: flex;
	padding: 2%;
	justify-content: center;
}

.container-cadaster {
	background-color: rgba(255, 255, 255, 0.5);
	width: 60%;
	border-radius: 4px;
	padding: 0.8%;
}

.container-initial {
	display: flex;
	width: 100%;
	margin-bottom: 3%;
	justify-content: center;
}

.container-initial h1 {
	color: white;
	font-size: 3em;
}

.container-forms {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

.container-forms h2 {
	font-size: 1.5em;
	color: white;
}

.container-forms input {
	padding: 0 0 0 3%;
	height: 35px;
	width: 500px;
	font-size: 1em;
	border-radius: 2px;
	border: none;
}

.container-forms legend {
	font-size: 1.5em;
	color: white;
}

.container-question {
	width: 500px;
	height: 65px;
	margin-bottom: 3%;
}

#input-question {
	width: 50px;
	height: 27px;
}

.container-btn {
	display: flex;
	width: 50%;
	justify-content: space-around;
	margin-bottom: 3%;
}

.container-btn button {
	height: 40px;
	width: 150px;
	border-radius: 4px;
	cursor: pointer;
	color: rgb(29, 28, 109);
	background-color: white;
	border: none;
}

.x {
	display: flex;
	justify-content: center;
}

.container-btn button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.val_error {
	color: red;
}