* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: 300;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: rosybrown;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-main {
    width: 400px;
    height: 500px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.container-main input {
    height: 40px;
    width: 300px;
    border: none;
    padding: 0 0 0 3%;
    margin-bottom: 3%;
    border-radius: 4px;
}

.container-main button {
    cursor: pointer;
    margin-top: 9%;
    border: none;
    height: 40px;
    width: 300px;
    border-radius: 4px;
    background-color: green;
    color: aliceblue;
    margin-bottom: 2%;
}

.btn {
    width: 100%;
}

.container-main button:hover {
    background-color: #23d37b;
}

.container-main a{
    color: white;
}

.container-logo {
    display: flex;
    font-size: 3em;
    height: 250px;
    align-items: center;
    justify-content: center;
}
